@font-face {
  font-family: 'segoesc';
  src: url('segoesc.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'simkai';
  src: url('simkai.ttf');
  font-weight: normal;
  font-style: normal;
}